body {
    padding: 0px;
    margin: 0px;
}


/* First Screen */
.first-screen {
    background-image: url('assets/fundo_CodeTheFuture.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.header {
    position: relative;
    display: flex;
    padding: 3vh 2vw;
    align-items: center;
    justify-content: end;
}

.header h3 {
    position: absolute;
    right: 2vw;
    color: white;
    text-align: end;
}

.header img {
    cursor: pointer;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
}

.main button {
    background-color: #ED0180;
    border: 1px solid #ED0180;
    color: white;
    border-radius: 20px;
    padding: 2vh 0vw;
    width: 20vw;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.main p {
    color: white;
    border-radius: 20px;
    padding: 2vh 0vw;
    width: 20vw;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat';
}

/* Second Screen */

.second-screen {
    background-color: black;
    background-image: url('assets/fundo-section-2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;

    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: 'Montserrat';
}

.button {
    background-color: transparent;
    border: 3px solid;
    border-image: linear-gradient(90deg, rgba(237, 1, 128, 1) 27%, rgba(132, 212, 239, 1) 70%);
    border-image-slice: 1;
    color: white;
    border-radius: 20px;
    padding: 2vh 0;
    width: 20vw;
    font-size: 20px;
    cursor: pointer;
}


.columns-about {
    display: flex;
    flex-direction: row;

}

.region-why-take-part {
    width: 45vw;
    /* height: 85vh; */
    padding: 6vh 2vw;
}

.text-about {
    width: 30vw;
    margin-left: 1.5vw;
    margin-top: -5vh;

}

.text-about p {
    font-size: 30px;
}

.region-about {
    /* background-color: #ed017f4a; */
    width: 45vw;
    height: 85vh;
    padding: 2vh 2vw;
}





.btn-gradient-2 {
    background: linear-gradient(rgb(25, 25, 25), rgb(25, 25, 25)) padding-box,
                linear-gradient(90deg, rgba(237, 1, 128, 1) 27%, rgba(132, 212, 239, 1) 70%) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
 

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;

    padding: 2vh 0;
    width: 20vw;
    font-size: 20px;
    cursor: pointer;
}