html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}


/* First Screen */
.first-screen {
    background-image: url('assets/fundo_CodeTheFuture.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.header {
    display: flex;
    padding: 3vh 2vw;
    align-items: center;
    justify-content: end;
}

.header h3 {
    right: 2vw;
    color: white;
    text-align: end;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 80vh;
    gap: 20px;
}

.main img{
    max-width: 100%;
    height: 70%;
}
.main button {
    background-color: #ED0180;
    border: 1px solid #ED0180;
    color: white;
    border-radius: 20px;
    padding: 2vh 0vw;
    width: 20vw;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    cursor: pointer;
}

.main p {
    color: white;
    border-radius: 20px;
    padding: 2vh 0vw;
    width: 20vw;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat';
}

.logo_mobile{
    display: none;
}

.double_arrows{
    display: none;
}

.logo_senac_mobile{
    display: none;
}
@media screen and (max-width: 1080px) and (orientation: portrait){
    .first-screen {
        width: 100%;
        position: relative; /* Define um contexto de posicionamento para os filhos */
    }

    .main img {
        max-height: 50vh; /* Evita que o logo fique grande demais em telas pequenas */
        padding-bottom:30px;
        width: auto; /* Garante a proporção correta */
    }

    .header {
        display: none;
    }

    .logo_mobile{
        display: block;
    }

    /* Esconde apenas o logo principal da primeira tela, e não os outros com o mesmo ID */
    .main > #btnFullscreen{
        display: none;
    }

    .main button {
    background-color: #f7941d;
    border: 1px solid #f7941d;
    color: white;
    border-radius: 20px;
    padding: 1vh 0vw;
    width: 40vw;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat';
    cursor: pointer;
    }

    .main p {
        color: white;
        border-radius: 20px;
        padding: 2vh 0vw;
        width: 50vw;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Montserrat';
    }

    .double_arrows{
        display: flex;
        justify-content: center;
        align-items: center;
        animation: moverSeta 1s infinite ease-in-out;
        }

        /* Animação de vai-e-volta horizontal */
        @keyframes moverSeta {
        0% {
            transform: translateY(0);
            opacity: 1;
        }
        50% {
            transform: translateY(10px);
            opacity: 0.6;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .logo_senac_mobile {
        display: block;
        position: absolute;
        bottom: 30px;
        padding: 6rem;
        text-align: center;
    }
}

/* Second Screen */

.second-screen {
    background-color: black;
    background-image: url('assets/Fundo\ seção\ 2-1\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;;
}
.columns-about {
    flex-direction: column;
    color: white;
    font-family: 'Montserrat';
    margin-top: 20px;

    width: 50%;
    height: 100%;
    padding: 60px;
    padding-top: 80px;
}

.columns-about img {
    width: 825px;
    height: 120px;
}
.text-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Revertido para o padrão de desktop (alinhado à esquerda) */
    gap: 40px;
    padding-top: 40px;
}

.main-title {
    font-family: 'Montserrat';
    font-weight: 999;
    font-size: 40px;
    color: white;
    line-height: 1.3;
    max-width: 70vw;
    width: 50%;
}

.sub-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    color: white;
    line-height: 1.4;
    max-width: 900px;
    width: 54%;
}

.light-text {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 25px;
    color: #cccccc;
    line-height: 1.6;
    max-width: 70vw;
    width: 370px;
}

.columns-about button {
    display: none;
}

.button {
    background-color: transparent;
    border: 3px solid;
    border-image: linear-gradient(90deg, rgba(237, 1, 128, 1) 27%, rgba(132, 212, 239, 1) 70%);
    border-image-slice: 1;
    color: white;
    border-radius: 20px;
    padding: 2vh 0;
    width: 20vw;
    font-size: 20px;
    cursor: pointer;
}


.btn-gradient-2 {
    background: linear-gradient(rgb(25, 25, 25), rgb(25, 25, 25)) padding-box,
                linear-gradient(90deg, rgba(237, 1, 128, 1) 27%, rgba(132, 212, 239, 1) 70%) border-box;
    border-radius: 20px;
    border: 2px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;

    padding: 2vh 0;
    width: 20vw;
    font-size: 20px;
    cursor: pointer;
}

.column-questions {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    margin-top: auto;
}
.column-questions h3{
    font-family: Orbitron;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    /* letter-spacing: 0%; */
    color: #ffffff;
}

.list{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    padding-top: 20px;
}
li {
  list-style-type: none;
  margin-bottom: 20px;
}

li::before {
  content: url('assets/pixel_code-solid.svg');
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; /* Espaçamento entre ícone e texto */
}

li:nth-child(2)::before {
  content: url('assets/pixelarticons_zap.svg');
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

}

li:nth-child(3)::before {
  content: url('assets/pixelarticons_heart.svg');
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

}

li:nth-child(4)::before {
  content: url('assets/pixelarticons_human-handsup.svg');
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;

}

.footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;

}
.mobile_list{
    display:none;
}

@media screen and (max-width: 1080px) and (orientation: portrait){
    .second-screen {
        background-color: black;
        background-image: url('assets/fundo\ seção_mobile_\ 1.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .columns-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%; /* Ocupa a largura toda */
        padding: 40px 20px; /* Ajusta o espaçamento para mobile */
        min-height: auto; /* A altura será definida pelo conteúdo */
        gap: 50px;
        padding-bottom: 5rem;
    }

    .columns-about img{
        width: 100%;
        height: auto; /* Mantém a proporção da imagem */
        padding-top: 6rem;
    }
    .text-about{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    .main-title, .sub-title, .light-text {
        width: 75%;
        max-width: 200vw;
        text-align: center;
    }


    .columns-about button {
        display: flex;
        width: 40vw;
        font-size: 30px;
        border-radius: 30px;
    }

    .button {
        background-color: transparent;
        border: 3px solid;
        border-image: linear-gradient(90deg, rgba(237, 1, 128, 1) 27%, rgba(132, 212, 239, 1) 70%);
        border-image-slice: 1;
        color: white;
        padding: 2vh 1rem;
        cursor: pointer;

        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .footer button{
        display: none;
    }


    /*parte inferior*/

    .column-questions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: auto;
    }

    .column-questions h3{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .list{
        display: none;
    }

    .mobile_list{
        display: flex;
        color: #ffffff;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        font-family: Montserrat;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: 0%;
        color: white;
        padding-top: 40px;
        text-align: center;
        gap: 2rem;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 90px;
    };

    .mobile_list img{
        width: 45px;
        height: 45px;

    }
}

/*Third Screen/*/

.about-us {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 30px;

}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: stretch;
}
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.profile-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.profile img {
    width: 200px;
    height: 200px;
}

.profile span{
    font-family: Montserrat;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: bold;
}

.profile p{
    text-align: center;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
.about-us h2{
    font-family: Orbitron;
    font-size: 56px;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: bolder;
}

.button-externo{
    display: none;
}

@media screen and (max-width: 1080px) and (orientation: portrait){
    .profile-container{
        flex-direction: column;
        justify-content: start;
        gap: 20px;
        padding: 4rem 1.5rem;
    }
    .about-us h2 {
        color: #ED0180;
        padding-bottom: 40px;
    }

    .profile{
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: #1A1A1A;
        border-radius: 20px;
        padding: 30px ;
        color: #ffffff;
        gap: 20px; 
    }

    .profile-text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .profile p {
        text-align: left;
    }

    .profile img{
        max-width: 100%;
        height: auto;
    }

    .button-externo {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 350px;
        height: 80px;

        background-color: #003456;
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: bold;

        border-radius: 30px;
        text-decoration: none;
        cursor: pointer;
        transition: background 0.3s ease;
    }


}

/* Fourth Screen */

.learn-more {
    background-color: black;
    background-image: url('assets/Fundo\ seção\ Saiba\ mAIS\ 1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    padding-left: 40px;
    gap: 40px;

}
.learn-more h2 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #84D4EF;
}

.learn-more p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #84D4EF;
}
.button-mobile button{
    display: none;
}
.button-download button {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Montserrat';
  color: white;
  background-color: black;

  border: 3px solid transparent;
  border-radius: 20px;
  cursor: pointer;

  background-image:
    linear-gradient(black, black),
    linear-gradient(90deg, rgba(237,1,128,1) 27%, rgba(132,212,239,1) 70%);

  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@media screen and (max-width: 1080px) and (orientation: portrait){
    .learn-more {
        background-color: #F5F4F6;
        background-image: none;
        min-height: auto;
        width: 100%;
        object-fit: cover;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding: 40px;
        text-align: center;
    }
    .learn-more h2{
        text-align: center;
        color: #003456;
    }
    .learn-more p{
        text-align: center;
        color: #003456;
    }

    .button-download{
        display: none;
    }
    .button-mobile button{
        display: flex;
        padding: 20px 40px;
        font-size: 20px;
        font-weight: bold;
        font-family: 'Montserrat';
        color: #f7941d;
        background-color: #F5F4F6;

        border: 3px solid transparent;
        border-radius: 20px;
        cursor: pointer;

        background-image:
            linear-gradient(#F5F4F6, #F5F4F6),
            linear-gradient(90deg, #f7941d);

        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

}

/*Fifth Screen*/

.frequently-questions {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    gap: 40px;
}
.frequently-questions p {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 0%;
    color: #1A1A1A;
    text-align: justify;
    padding-top: 10px;
}

.frequently-questions strong {
    font-weight: bold;
    font-family: Montserrat;
    font-size: 25px;
    line-height: 60px;
    letter-spacing: 0%;
    color: #1A1A1A;
    text-align: justify;
}

.frequently-questions summary {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: #1A1A1A;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: start;

}

.frequently-questions summary::before {
  content: "";
  position: absolute;
  transform: translateY(-50%);
  background-image: url('assets/arrow_down.svg');
  transform: rotate(-90deg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 10px;
  transition: transform 0.3s ease;
  left: 0;
  align-self: anchor-center;
}

.frequently-questions details[open] summary::before {
  transform: translateY(-50%) rotate(0deg);
}

@media screen and (max-width: 1080px) and (orientation: portrait){
    .titulo-five h2{
       color: #ED0180;
    }
}


.titulo-five {
    font-family: Orbitron;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
    color: #f7941d;
    padding-top: 40px;
    padding-bottom: 40px;
}